.footer {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: calc(var(--gap) * 4);
    border-top: 1px solid black;
    height: 60px;
}

.footer h3 {
    text-align: center;
    margin: 0 auto;
    width: max-content;
}