:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gap: 4px;
}

a {
  color: black;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
